html {
  background: url("../images/background/cave_blue.jpg") no-repeat;
  background-size: cover;
  /* display: inline; */
  object-fit: cover;
}

header {
  display: flex;
  justify-content: center;
  height: 100%;
}

.start_screen {
  position: absolute;
  z-index: 1;
  left: 45%;
  top: 40%;
}

.start_button:hover {
  background-color: white;
  border: 5px solid black;
}

.start_button_hide {
  display: none;
}

button:focus {
  outline: 0;
}

.start_button {
  background-color: #32cd32;
  border: 5px solid black;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
}

.sidebar_links {
  list-style: none;
  width: 60px;
  height: 160px;
  margin-right: 50px;
}
.left_sidebar_links {
  list-style: none;
  width: 90%;
  /* height: 160px; */
  /* margin-left: 31px; */
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-decoration:underline;
  text-align: center;
  /* margin-top: 50%; */
  /* margin-left: 10%; */
}

.left_sidebar_links li {
  width: 80%;
}

.sidebar_links li {
  /* margin-top: 50%; */
  /* margin-bottom:  */
}

.sidebar_links_container {
  display: flex;
  width: 9.5vw;
  /* margin-bottom: auto; */
  margin-top: 5%;
  justify-content: center;
  /* margin-bottom: 10%; */
  /* height: auto; */
  /* margin: auto; */
}

.sidebar_links_container li {
  padding-bottom: 250%;
}

.left_sidebar_links_container {
  display: flex;
  width: 9.5vw;
  /* margin-bottom: auto; */
  margin-top: 5%;
  justify-content: center;
}

img.globe {
  width: 100%;
}

li.move_text {
  /* width: 100%; */
}

.keys {
  width: 100%;
  margin-top: 0;
  margin-bottom: 140px;
}

img.spacebar {
  width: 100%;
}

img.github {
  width: 100%;
}

img.linkedin {
  padding-bottom: 0;
  width: 100%;

}

.gameover_screen {
  position: absolute;
  z-index: 1;
  left: 35%;
  top: 30%;

}

.restart_button {
  display: none;
  cursor: pointer;
  left: 30%;
}

.canvas_two_container {
  display: flex;
}


.canvas_container {
  position: relative;
}


.welcome_sign {
  width: 40vw;
  margin: 0;
  align-self: center;
  background-size: cover;
  z-index: 1;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
 filter: drop-shadow(10px 10px 10px #222);
}

.canvas {
  /* background: url('assets/images/bg_final.png'); */
  width: 81vw;
  height: auto;
  min-width: 800px;
  /* height: 82vh; */
  background-size: contain;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 35px 3px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.67);
  box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.67);
}
