html {
  background: url("../images/background/cave_blue.jpg") no-repeat;
  background-size: cover;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: center;
  height: 100%;
}

.start_screen {
  position: absolute;
  z-index: 1;
  left: 43%;
  top: 40%;
  width: 13%;
}

.start_button:hover {
  background-color: white;
  border: 5px solid black;
}

.start_button_hide {
  display: none;
}


button:focus {
  outline: 0;
}

.start_button {
  width: 100%;
  background-color: #2a445d;
  border: 5px solid black;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.75vw;
  color: #ff1493;
}

.score_screen {
  display: none;
  width: 100%;
  background-color: #2a445d;
  border: 5px solid black;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.75vw;
  color: #ff1493;
  left: 40%;
}

.timer {
  /* margin-top: 65%; */
  font-size: 28px;
  text-decoration: underline;
  -webkit-text-stroke: 1px #ff1493;
  margin-bottom: 5vh;
}

.strong {
  font-weight: bold;
}

.healthbar_container {
  display: flex;
  justify-content: center;
}

progress::-webkit-progress-bar {
  background: #fff;
  border: 1px solid #fff;
}

progress::-webkit-progress-value {
  background: #ff1493;
}

.healthbar {
  display: none;
  background: blue;
  width: 70%;
}

.gameover_screen {
  position: absolute;
  z-index: 1;
  left: 33%;
  top: 20%;
  width: 30%;
}

.gameover_button {
  position: absolute;
  z-index: 1;
  left: 42.75%;
  top: 40%;
  width: 13%;
}

.restart_button:hover {
  background-color: #fff;
}

.restart_button {
  display: none;
  left: 30%;
  background-color: #2a445d;
  border: 5px solid black;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.75vw;
  color: #ff1493;
}

.sidebar_links {
  list-style: none;
  width: 60px;
  height: 160px;
  margin-right: 50px;
}

.rof {
  text-decoration:none;
  font-size: 12px;
}

.left_sidebar_links {
  list-style: none;
  width: 90%;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  /* text-decoration:underline; */
  text-align: center;
}

.left_sidebar_links li {
  width: 80%;
}

.sidebar_links li {
}

.sidebar_links_container {
  display: flex;
  width: 9.5vw;
  margin-top: 5%;
  justify-content: center;
}

.sidebar_links_container li {
  /* padding-bottom: 250%; */
}

.left_sidebar_links_container {
  display: flex;
  width: 9.5vw;
  margin-top: 2%;
  justify-content: center;
}

img.globe {
  width: 100%;
}

.text_underline {
  text-decoration: underline;
}

.keys {
  width: 100%;
  margin-top: 0;
  /* padding-top: 5vh; */
  padding-bottom: 1vh;
  /* margin-bottom: 140px; */
}

.wasd {
  width: 100%;
  margin-top: 0;
  /* padding-top: 5vh; */
  padding-bottom: 5vh;
}

img.spacebar {
  width: 100%;
}

img.github {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
}

img.linkedin {
  padding-bottom: 0;
  width: 100%;

}


.canvas_two_container {
  display: flex;
  height: 100%;
}


.canvas_container {
  position: relative;
}


.welcome_sign {
  width: 40vw;
  margin: 0;
  align-self: center;
  background-size: cover;
  z-index: 1;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
 filter: drop-shadow(10px 10px 10px #222);
}

.canvas {
  width: 81vw;
  height: auto;
  min-width: 800px;
  background-size: contain;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 35px 3px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.67);
  box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.67);
}
